<h2> Question and Answer message Board</h2>

<p>
A Message Board were users can ask a question and others/ trolls can aswer them
</p>

{{#link-to 'contact'}} Click here to contact us. {{/link-to}}
<br>
<br>
{{#link-to 'index'}} Home {{/link-to}}
