<h2> About Alla Bondarchuk</h2>

<p>
  This is a blog site dedicated for the latest fashion trends.
  Alla Bondarchuck has been studying fashion at The Fashion school of design
  in New York, also has extensive experience with helping set up runways with various
  Los Angeles based companies.
</p>

{{#link-to 'contact'}} Click here to contact us. {{/link-to}}
<br>
<br>
{{#link-to 'index'}} Home {{/link-to}}
