<h1>Question and Answer Board</h1>

Ask a Quesiton and let Trolls repsones to your Answer!

<ul>
  {{#each model as |questions|}}
    {{question-tile questions=questions}}
  {{/each}}
</ul>

{{#link-to 'about'}} About {{/link-to}}
<br>
<br>
{{#link-to 'contact'}} Click here to contact us. {{/link-to}}
