<h1>Question and Answer Board</h1>

Ask a Quesiton and let Trolls repsones to your Answer!
<br>
<br>

<ul>
  {{#each model as |questions|}}
    <li>{{questions.author}}'s' {{questions.content}} in {{questions.notes}}</li>
  {{/each}}
</ul>

{{#link-to 'about'}} About {{/link-to}}
<br>
<br>
{{#link-to 'contact'}} Click here to contact us. {{/link-to}}
